<button class="btn btn-primary" (click)="logOut()">Cerrar sesión</button>
<p>home works!</p>
<button class="btn btn-secondary" (click)="goToCreateCourse()">Create course</button>
<div class="col-12 alert alert-success" role="alert" *ngIf="messageSuccess">
    {{messageSuccess}}
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Duration </th>
            <th>Price</th>
            <th>Active</th>
            <th>Units</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of coursesList">
            <td>{{course.name}}</td>
            <td>{{course.hour_duration}} hours</td>
            <td>${{ course.price }}</td>
            <td>{{ course.active ? 'yes': 'no' }}</td>
            <td>
                <ul>
                    <li *ngFor="let unit of course.unit_subjects">{{unit}}</li>
                </ul>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteCourse(course._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>