<div class="container mt-4">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Buscar servicios..." [(ngModel)]="searchTerm"
            (keyup)="search()" />
    </div>    

    <div *ngIf="companies_data.length === 0 && searched" class="alert alert-info">
        No se encontraron servicios.
    </div>

    <div class="row">
        <div *ngFor="let company of companies_data" class="col-md-4 mb-3" (click)="loadCalendar(company._id)" role="button">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ company.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Services
                    </h6>
                    <ul>
                        <li *ngFor="let service of company.services">{{ service.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>